body {
background-color:silver;
}
h1{
font-size: 40px;
padding: 30px;
margin-left: 700px;
font-family: Helvetica;
}
h2 {
font-size: 30px;
margin-left: 600px;
font-family:Verdana;

}
img{
margin-left: 700px;
}
p1 {
font-size: 30px;
font-family: Helvetica;}
footer{
font-size: 20px
}